{% load i18n %}
<div class="oh-modal__dialog-header pb-0">
  <span class="oh-modal__dialog-title">{% trans "Modifica Documento" %}</span>
  <button class="oh-modal__close" aria-label="Close">
    <ion-icon name="close-outline" class="md hydrated"></ion-icon>
  </button>
</div>
<div class="oh-modal__dialog-body">
  <form id="add-form"
        hx-post="{% url 'document-update' document.id %}"
        hx-target="#objectCreateModalTarget"
        hx-encoding="multipart/form-data">
    {% csrf_token %}
    {{ form.employee_id }}
    {% include "tabs/htmx/document_form_fields.html" with form=form %}
  </form>
</div>
