{% load i18n %} {% load widget_tweaks %}
<div class="oh-modal__dialog-header pb-0">
    <span class="oh-modal__dialog-title" id="uploadFileModalLabel">{% trans "Upload" %} {{form.verbose_name}}</span>
    <button class="oh-modal__close--custom" aria-label="Close"
        onclick="event.stopPropagation();event.preventDefault();$(this).closest('.oh-modal--show').removeClass('oh-modal--show');">
        <ion-icon name="close-outline" role="img" class="md hydrated" aria-label="close outline"></ion-icon>
    </button>
</div>
<div class="oh-modal__dialog-body">
    <form id="file-form" hx-post="{% url 'file-upload' document.id %}" hx-target="#objectCreateModalTarget"
        hx-encoding="multipart/form-data" class="oh-profile-section pt-3">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% include "tabs/htmx/document_form_fields.html" with form=form %}
        <div class="file-validation mt-3">
            <ul class="m-0">
                <li style="list-style: disc">
                    {% trans "Upload " %}<b>{{ form.instance.document_request_id.format }}</b>
                    {% trans "file" %}
                </li>
                <li style="list-style: disc">
                    {% trans "Max size of the file" %}
                    {{ form.instance.document_request_id.max_size }} MB
                </li>
            </ul>
        </div>
    </form>
</div>
