{% load i18n %}
{% load static %}
{% include 'filter_tags.html' %}
<style>
  .payroll-contract-compact-table .oh-sticky-table__sd,
  .payroll-contract-compact-table .oh-sticky-table__td,
  .payroll-contract-compact-table .oh-sticky-table__th {
    padding: 4px 6px !important;
    font-size: 0.9rem;
  }

  .payroll-contract-compact-table .oh-btn-group .oh-btn {
    padding: 2px 6px;
  }
</style>
{% if messages %}
<div class="oh-wrapper">
  {% for message in messages %}
  <div class="oh-alert-container">
    <div class="oh-alert oh-alert--animated {{message.tags}}">
      {{ message }}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% if contracts %}
  <div class="oh-table_sticky--wrapper">
    <div class="oh-sticky-dropdown--header">
      <div class="oh-dropdown" x-data="{open: false}">
        <button class="oh-sticky-dropdown_btn " @click="open = !open"><ion-icon name="ellipsis-vertical-sharp"
          role="img" class="md hydrated" aria-label="ellipsis vertical sharp"></ion-icon></button>
        <div class="oh-dropdown__menu oh-sticky-table_dropdown" x-show="open" @click.outside="open = false">
        <ul class="oh-dropdown__items" id="contractCells">
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="contract-table" data-table-name="contracts_tab">
    <!-- start of sticky table  -->
    <div class="oh-sticky-table payroll-contract-compact-table">
      <div class="oh-sticky-table__table">
        <div class="oh-sticky-table__thead">
          <div class="oh-sticky-table__tr">
            <div class="oh-sticky-table__th" style="width: 28px; min-width: 28px; @media (max-width: 575.98px) { position: sticky; }">
              <div class="centered-div">
                <input
                      type="checkbox"
                      class="all-contract oh-input oh-input__checkbox"
                      id = "Allcontract"
                      title='{% trans "Select All" %}'
                    />
              </div>
            </div>
            <div data-cell-index="1" data-cell-title='{% trans "Dipendente" %}'
              class="oh-sticky-table__th" style="width: 120px; min-width: 120px;"
            >{% trans "Dipendente" %}</div>
            <div data-cell-index="2" data-cell-title='{% trans "Tipo Contratto" %}'
              class="oh-sticky-table__th" style="width: 100px; min-width: 100px;"
            >{% trans "Tipo Contratto" %}</div>
            <div data-cell-index="3" data-cell-title='{% trans "Lun" %}'
              class="oh-sticky-table__th" style="width: 34px; min-width: 34px;"
            >{% trans "Lun" %}</div>
            <div data-cell-index="4" data-cell-title='{% trans "Mar" %}'
              class="oh-sticky-table__th" style="width: 34px; min-width: 34px;"
            >{% trans "Mar" %}</div>
            <div data-cell-index="5" data-cell-title='{% trans "Mer" %}'
              class="oh-sticky-table__th" style="width: 34px; min-width: 34px;"
            >{% trans "Mer" %}</div>
            <div data-cell-index="6" data-cell-title='{% trans "Gio" %}'
              class="oh-sticky-table__th" style="width: 34px; min-width: 34px;"
            >{% trans "Gio" %}</div>
            <div data-cell-index="7" data-cell-title='{% trans "Ven" %}'
              class="oh-sticky-table__th" style="width: 34px; min-width: 34px;"
            >{% trans "Ven" %}</div>
            <div data-cell-index="8" data-cell-title='{% trans "Sab" %}'
              class="oh-sticky-table__th" style="width: 34px; min-width: 34px;"
            >{% trans "Sab" %}</div>
            <div data-cell-index="9" data-cell-title='{% trans "Dom" %}'
              class="oh-sticky-table__th" style="width: 34px; min-width: 34px;"
            >{% trans "Dom" %}</div>
            <div data-cell-index="10" data-cell-title='{% trans "OreSett" %}'
              class="oh-sticky-table__th" style="width: 45px; min-width: 45px;"
            >{% trans "OreSett" %}</div>
            <div data-cell-index="11" data-cell-title='{% trans "Data Inizio" %}'
              class="oh-sticky-table__th {% if request.sort_option.order == '-contract_start_date' %}arrow-up {% elif request.sort_option.order == 'contract_start_date' %}arrow-down {% else %} arrow-up-down {% endif %}" style="width: 78px; min-width: 78px;"
              hx-target="#payroll-contract-container" hx-get="{% url 'contract-filter' %}?{{pd}}&orderby=contract_start_date"
            >{% trans "Data Inizio" %}</div>
            <div data-cell-index="12" data-cell-title='{% trans "Data Fine" %}'
              class="oh-sticky-table__th {% if request.sort_option.order == '-contract_end_date' %}arrow-up {% elif request.sort_option.order == 'contract_end_date' %}arrow-down {% else %} arrow-up-down {% endif %}" style="width: 78px; min-width: 78px;"
              hx-target="#payroll-contract-container" hx-get="{% url 'contract-filter' %}?{{pd}}&orderby=contract_end_date"
            >{% trans "Data Fine" %}</div>
            {% if perms.payroll.change_contract or perms.payroll.delete_contract %}
              <div class="oh-sticky-table__th oh-sticky-table__right" style="width: 60px; min-width: 60px;">{% trans "Actions" %}</div>
            {% endif %}
          </div>
        </div>
        <div class="oh-sticky-table__tbody">
          {% for contract in contracts %}
          <div class="oh-sticky-table__tr" draggable="true" data-toggle="oh-modal-toggle" data-target = "#objectDetailsModal" hx-get="{% url 'single-contract-view' contract.id %}?{{pd}}&instances_ids={{contract_ids}}" hx-target = "#objectDetailsModalTarget">
            <div class="oh-sticky-table__sd  {% if contract.contract_status == "active" %} row-status--yellow
                {% elif contract.contract_status == 'draft' %} row-status--purple
                {% elif contract.contract_status == 'expired' %} row-status--red
                {% elif contract.contract_status == 'terminated' %} row-status--black {% endif %}" onclick="event.stopPropagation()" style="width: 28px; min-width: 28px;">
                <div class="centered-div">
                  <input
                    type="checkbox"
                    id="{{contract.id}}"
                    onchange="highlightRow($(this))"
                    value="{{contract.id}}"
                    class="oh-input payslip-checkbox oh-input__checkbox all-contract-row"
                  />
                </div>
            </div>
            <div data-cell-index="1" class="oh-sticky-table__td" style="width: 120px; min-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="{{ contract.employee_id }}">
              {{ contract.employee_id }}
            </div>
            <div data-cell-index="2" class="oh-sticky-table__td" style="width: 100px; min-width: 100px;">
              {% if contract.tipo_contratto %}{{ contract.get_tipo_contratto_display }}{% else %}N/A{% endif %}
            </div>
            <div data-cell-index="3" class="oh-sticky-table__td" style="width: 34px; min-width: 34px; text-align: right;">{{ contract.lun|default:"0" }}</div>
            <div data-cell-index="4" class="oh-sticky-table__td" style="width: 34px; min-width: 34px; text-align: right;">{{ contract.mar|default:"0" }}</div>
            <div data-cell-index="5" class="oh-sticky-table__td" style="width: 34px; min-width: 34px; text-align: right;">{{ contract.mer|default:"0" }}</div>
            <div data-cell-index="6" class="oh-sticky-table__td" style="width: 34px; min-width: 34px; text-align: right;">{{ contract.gio|default:"0" }}</div>
            <div data-cell-index="7" class="oh-sticky-table__td" style="width: 34px; min-width: 34px; text-align: right;">{{ contract.ven|default:"0" }}</div>
            <div data-cell-index="8" class="oh-sticky-table__td" style="width: 34px; min-width: 34px; text-align: right;">{{ contract.sab|default:"0" }}</div>
            <div data-cell-index="9" class="oh-sticky-table__td" style="width: 34px; min-width: 34px; text-align: right;">{{ contract.dom|default:"0" }}</div>
            <div data-cell-index="10" class="oh-sticky-table__td" style="width: 45px; min-width: 45px; text-align: right;">
              {{ contract.lun|add:contract.mar|add:contract.mer|add:contract.gio|add:contract.ven|add:contract.sab|add:contract.dom|floatformat:1 }}
            </div>
            <div data-cell-index="11" class="oh-sticky-table__td" style="width: 78px; min-width: 78px;">{{ contract.contract_start_date|date:"d/m/Y" }}</div>
            <div data-cell-index="12" class="oh-sticky-table__td" style="width: 78px; min-width: 78px;">
              {% if contract.contract_end_date %}{{ contract.contract_end_date|date:"d/m/Y" }}{% else %}N/A{% endif %}
            </div>
            {% if perms.payroll.change_contract or perms.payroll.delete_contract %}
              <div class="oh-sticky-table__td oh-sticky-table__right" style="width: 60px; min-width: 60px;">
                <div class="oh-btn-group">
                  {% if perms.payroll.change_contract %}
                    <a
                    onclick="event.stopPropagation()"
                      class="oh-btn oh-btn--light-bkg w-100"
                      href="{% url 'update-contract' contract.id %}"
                      title='{% trans "Update" %}'
                    >
                      <ion-icon
                        name="create-outline"
                        role="img"
                        class="md hydrated"
                        style="color: blue"
                        aria-label="create outline"
                      ></ion-icon>
                    </a>
                  {% endif %}
                  {% if perms.payroll.delete_contract %}
                    <a
                      onclick = "event.preventDefault();event.stopPropagation();"
                      class="oh-btn oh-btn--danger-outline oh-btn--light-bkg w-100"
                      hx-confirm="{% trans 'Do you want to delete this Contract?' %}"
                      hx-post="{% url 'delete-contract' contract.id %}?{{pd}}"
                      hx-target="#payroll-contract-container"
                      hx-swap="innerHTML"
                      title="{% trans 'Delete' %}"
                    >
                      <ion-icon
                        name="trash-outline"
                        role="img"
                        class="md hydrated"
                        aria-label="trash outline"
                      ></ion-icon>
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="oh-pagination">
      <span
        class="oh-pagination__page"
        >
        {% trans "Page" %} {{ contracts.number }} {% trans "of" %} {{ contracts.paginator.num_pages }}.
        </span
      >
      <nav class="oh-pagination__nav">
        <div class="oh-pagination__input-container me-3">
          <span class="oh-pagination__label me-1">{% trans "Page" %}</span>
          <input
            type="number"
            name="page"
            class="oh-pagination__input"
            value="{{contracts.number}}"
            hx-get="{% url 'contract-filter' %}?{{pd}}"
            hx-target="#payroll-contract-container"
            min="1"
          />
          <span class="oh-pagination__label">{% trans "of" %} {{contracts.paginator.num_pages}}</span>
        </div>
        <ul class="oh-pagination__items">
          {% if contracts.has_previous %}
          <li class="oh-pagination__item oh-pagination__item--wide">
            <a hx-target='#payroll-contract-container' hx-get="{% url 'contract-filter' %}?{{pd}}&page=1" class="oh-pagination__link" onclick=tickContractCheckboxes()>{% trans "First" %}</a>
          </li>
          <li class="oh-pagination__item oh-pagination__item--wide">
            <a hx-target='#payroll-contract-container' hx-get="{% url 'contract-filter' %}?{{pd}}&page={{ contracts.previous_page_number }}" class="oh-pagination__link" onclick=tickContractCheckboxes()>{% trans "Previous" %}</a>
          </li>
          {% endif %}
          {% if contracts.has_next %}
          <li class="oh-pagination__item oh-pagination__item--wide">
            <a hx-target='#payroll-contract-container' hx-get="{% url 'contract-filter' %}?{{pd}}&page={{ contracts.next_page_number }}" class="oh-pagination__link" onclick=tickContractCheckboxes()>{% trans "Next" %}</a>
          </li>
          <li class="oh-pagination__item oh-pagination__item--wide">
            <a hx-target='#payroll-contract-container' hx-get="{% url 'contract-filter' %}?{{pd}}&page={{ contracts.paginator.num_pages }}" class="oh-pagination__link" onclick=tickContractCheckboxes()>{% trans "Last" %}</a>
          </li>
          {% endif %}

        </ul>
      </nav>
    </div>
    <!-- end of sticky table  -->
  </div>
{% else %}
  <!-- start of empty page -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
    <img style="width: 190px;height: 190px;" src="{% static 'images/ui/no-results.png' %}" class="oh-404__image mb-4" alt="Page not found. 404."/>
    <h5 class="oh-404__subtitle">{% trans "No search result found!" %}</h5>
  </div>
  <!-- end of empty page -->
{% endif %}




<script>
  $("#Allcontract").click(function (e) {
    var is_checked = $(this).is(":checked");
    if (is_checked) {
      $(".all-contract-row").prop("checked", true).closest(".oh-sticky-table__tr")
      .addClass("highlight-selected");
    } else {
      $(".all-contract-row").prop("checked", false).closest(".oh-sticky-table__tr")
      .removeClass("highlight-selected");
    }
    addingContractIds();
  });
  $("#exportContracts").click(function (e) {
    exportContractRequest();
  });

  $(".all-contract-row").change(function () {
    if ($('.all-contract').is(":checked")) {
      $(".all-contract").prop("checked", false);
    }
    addingContractIds();
  });

  $(document).ready(function () {
    var ids = JSON.parse($("#selectedInstances").attr("data-ids") || "[]");
    if (ids.length === 0) {
      $("#unselectAllContracts").css("display", "none");
      $("#exportContracts").css("display", "none");
      $("#selectedShow").css("display", "none");
    }
    tickContractCheckboxes();
    $("#selectAllContracts").click(function () {
      selectAllContracts();
    });

    $("#unselectAllContracts").click(function () {
      unselectAllContracts();
    });
  });
    // toggle columns //
    toggleColumns("contract-table","contractCells")
    localStoragecontractCells = localStorage.getItem("contracts_tab")
    if (!localStoragecontractCells) {
      $("#contractCells").find("[type=checkbox]").prop("checked",true)
    }
    $("[type=checkbox]").change()
</script>
<script src="{% static 'payroll/action.js' %}"></script>
