{% load i18n %}
{{ form.non_field_errors }}

<div class="row">
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label required-star">{{ form.operational_unit_id.label }}</label>
            {{ form.operational_unit_id }}
            <small class="text-muted">{% trans "Select the headquarters department or store assigned to this employee." %}</small>
            {{ form.operational_unit_id.errors }}
        </div>
    </div>
</div>

{# Preserve legacy fields while existing records are progressively sanitized. #}
{{ form.work_area_type.as_hidden }}
{{ form.department_code.as_hidden }}
{{ form.department_id.as_hidden }}
{{ form.store_code.as_hidden }}
{{ form.store_name.as_hidden }}

<div class="row">
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Job Title" %}</label>
            {{ form.job_position_id }}
            {{ form.job_position_id.errors }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Job Role" %}</label>
            {{ form.job_role_id }}
            {{ form.job_role_id.errors }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Shift Information" %}</label>
            {{ form.shift_id }}
            {{ form.shift_id.errors }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Work Type" %}</label>
            {{ form.work_type_id }}
            {{ form.work_type_id.errors }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Employee Type" %}</label>
            {{ form.employee_type_id }}
            {{ form.employee_type_id.errors }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Reporting Manager" %}</label>
            {{ form.reporting_manager_id }}
            {{ form.reporting_manager_id.errors }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Company" %}</label>
            {{ form.company_id }}
            {{ form.company_id.errors }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Work Location" %}</label>
            {{ form.location }}
            {{ form.location.errors }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Work Email" %}</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Work Phone" %}</label>
            {{ form.mobile }}
            {{ form.mobile.errors }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Basic Salary" %}</label>
            {{ form.basic_salary }}
            {{ form.basic_salary.errors }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Salary Per Hour" %}</label>
            {{ form.salary_hour }}
            {{ form.salary_hour.errors }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="oh-input__group">
            <label class="oh-label">{{ form.export_payslip.label }}</label>
            {{ form.export_payslip }}
            {{ form.export_payslip.errors }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="oh-input__group">
            <label class="oh-label">{{ form.mirror_payslip.label }}</label>
            {{ form.mirror_payslip }}
            {{ form.mirror_payslip.errors }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="oh-input__group">
            <label class="oh-label">{{ form.premi.label }}</label>
            {{ form.premi }}
            {{ form.premi.errors }}
        </div>
    </div>
</div>

{% if form.tags %}
<div class="row">
    <div class="col-lg-12">
        <div class="oh-input__group">
            <label class="oh-label">{% trans "Tags" %}</label>
            {{ form.tags }}
            {{ form.tags.errors }}
        </div>
    </div>
</div>
{% endif %}
